@Charset "UTF-8";

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body, html { height: 100%;}
body {
	/*font-family:"Microsoft JhengHei", "Lato", Helvetica, sans-serif !important;*/
	font-family: "Helvetica Neue", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Arial", sans-serif !important;
	-webkit-font-smoothing:antialiased;
}
.page-wrapper {
    max-width: 78%;
	margin: 0 auto;
}

#page1 {
    background-image: url('../img/newspaper-background-cut.png');
	background-repeat:no-repeat;
    background-position:center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#ffd119;
	
}
#page1-header {
    background: #fff660;
}
#wen_icon {
    width: 5.7vw;
	height: auto;
}

#navigation {
    display: inline;
	text-decoration: none;
	color = white;
	margin: 0 1rem 0 0;
	padding: 0.7rem 0 1rem 0;
	float: right;
}

#navigation  a{
	text-decoration: none;
	color: #000000;
	font-size: 2vw;
	font-weight: bold;
	margin: 0 0.2rem 1rem 0.2rem;
	padding: 0.4rem 0.4rem 0.4rem 0.4rem;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
	border-radius: 8px;
	-webkit-transition: background 0.3s ease, color 0.2s linear;
	-moz-transition: background 0.3s ease, color 0.2s linear;
	-o-transition: background 0.3s ease, color 0.2s linear;
	transition: background 0.3s ease, color 0.2s linear;
}

#navigation  a:hover{
    color: #ffffff;
	background: #ff3333;
}

#page1 .content {
    display: inline;
    color: black;
	text-align: center;
}
#page1_text {
    padding:  10rem 0 35rem 0;
}
#page1-content-container{
    background-color: rgba(255, 228, 44, 0.5);
}
#content1 { 
    display: inline-block;
    border-bottom: 0.5rem solid black;
	padding: 0 0 0.5rem 0;
	margin-bottom: 0; 
	margin-top: 0.1rem;
	font-size: 5vw;
}
#content2 { 
    font-size: 6vw;
	margin-top: 0.8rem;
}
#page2 {
	background-color:#ffd119;
	position: relative;
}
.page2-content, .page4-content, .page5-content{
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 50%;
	color: #ffffff;
}
#page2-text {
	margin: 20% 0 25% 15%;
}
#page2-text p{
    font-size: 4.4vw;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 0;
}

.page2-item{
    width:90%;
	margin-top: 5%;
	margin-bottom: 8%;
	margin-left: 20%;
}
.page2-item-icon{
    width: 20%;
	height: auto;
	display: inline;
}
.page2-item-text{
    display: inline;
	font-size: 2.2vw;
	font-weight: bold;
	margin-left: 2%;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}
#page3 {
    width: 100%;
    /*background-image: url('../img/index-texture-background.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	background-color:#2c2c2c;
}
#four-logo {
    margin: 0 auto;
	width: 90%;
}
.span-4 {
    display: inline-block;
	width: 24%;
	padding-left: 5%;
	margin-left: 0;
	margin-right: 0;
}
#logo1, #logo2, #logo3, #logo4  {
    width: 100%;
	height: auto;
	margin-top: 45%;
	margin-left: 0;
	margin-right: 0;
}
#page3 .content {
    color: white;
	line-height: 650%;
	padding: 15% 0 5% 0;
}    
#page3 .content p{
    font-size: 2vw;
	line-height: 2.8vw;
	margin-bottom: 0;
	font-weight: bold;
	margin-left: 5%;
	padding: 0;
}  
#page3 .content em{
    font-style: normal;
	font-weight: bold;
    font-size: 2.5vw;
}  
#page3 .content h2{
    font-size: 4.5vw;
	line-height: 4.7vw;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	margin-left: 5%;
}    
#page4 {
	background-color:#ff3333;
	position: relative;
	height: 100%;
}
#page4-img {
    position: relative;
	margin: 14rem 0 13rem 0;
}
#nuclear {
	display: block;
    margin: 0 auto;
	padding: 0;
	width: 15vw;
}
#bubble-1, #bubble-2, #bubble-4  {
    width: 8vw;
}
#bubble-1  {
    display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	padding: 0;
}
#bubble-2  {
    position: absolute;
	-webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
     -o-transform:rotate(-30deg);
        transform:rotate(-30deg);
	left: 13%;
	top: 10%;
}
#bubble-4 {
    position: absolute;
	left: 67%;
	top: 10%;
}
#page4-text {
    font-size: 3.5vw;
	font-weight: bold;
	margin: 17rem 0 7rem 0;
}
#page4-text p{
    margin: 0;
}

#page5 {
    background-image: url('../img/gif-frames/sunrise16-17.png');
	background-repeat:no-repeat;
    background-position:center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:#ffffff;
	position: relative;
}
#page5-text {
    color: #fff660;
	font-size: 3vw;
	font-weight: bold;
	margin: 80% 0 5% 5%;
	padding: 0;
}
#page5-text p {
    margin: 0;
}
#btn-start-to-ask {
    position: absolute;
    bottom: 0;
	right: 0;
	margin: 0 5% 3.5% 0;
	width: 12vw;
}
#footer {
    background: #fff660;
}

#footer-contact {
    text-decoration: none;
    display: inline-block;
    color: #000000;
	font-size: 20px;
	padding: 0.5%;
	margin: 10px 0 10px 40px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background 0.3s ease, color 0.2s linear;
	-moz-transition: background 0.3s ease, color 0.2s linear;
	-o-transition: background 0.3s ease, color 0.2s linear;
	transition: background 0.3s ease, color 0.2s linear;
}

#footer-contact:hover{
    color: #ffffff;
	background: #ff3333;
}

#footer-links {
    display: inline-block;
	color = black;
	line-height: 8px;
	padding-top: 15px;
	margin-right: 20px;
	float: right;
}

#footer-links i {
    margin: 0 5px 0 5px;
}
#link-fb {
    color: 405d9a;
}
#link-gl {
    color: #d34836;
}
#link-tt {
    color: #4099ff;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
